In [59]:
import pandas as pd
import numpy as np
from scipy import stats
from dateutil.parser import parse

In [60]:
import os
os.chdir("d:\\datasets")

In [92]:
df = pd.read_csv('Salaries.csv')

E:\progfiles\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [93]:
len(df)

148654

In [94]:
df.columns

Index(['Id', 'EmployeeName', 'JobTitle', 'BasePay', 'OvertimePay', 'OtherPay',
       'Benefits', 'TotalPay', 'TotalPayBenefits', 'Year', 'Notes', 'Agency',
       'Status'],
      dtype='object')

In [95]:
df1 = df.iloc[:20000,:]

In [96]:
df1 = df1.drop(['Benefits','Notes','Status'],axis=1)

In [97]:
df1.corr()

                        Id  TotalPay  TotalPayBenefits  Year
Id                1.000000 -0.932198         -0.932198   NaN
TotalPay         -0.932198  1.000000          1.000000   NaN
TotalPayBenefits -0.932198  1.000000          1.000000   NaN
Year                   NaN       NaN               NaN   NaN

In [98]:
from sklearn.preprocessing import LabelEncoder

In [99]:
encoder = OneHotEncoder()
encoder1 = LabelEncoder()

In [100]:
jobenc = encoder1.fit(df1.JobTitle)

In [101]:
df1.JobTitle = jobenc.fit_transform(df1.JobTitle)

In [102]:
len(df1.JobTitle.unique())

872

In [103]:
len(df1)

20000

In [104]:
df1.corr()

                        Id  JobTitle  TotalPay  TotalPayBenefits  Year
Id                1.000000  0.103480 -0.932198         -0.932198   NaN
JobTitle          0.103480  1.000000 -0.134183         -0.134183   NaN
TotalPay         -0.932198 -0.134183  1.000000          1.000000   NaN
TotalPayBenefits -0.932198 -0.134183  1.000000          1.000000   NaN
Year                   NaN       NaN       NaN               NaN   NaN

In [200]:
import pandas as pd
import numpy as np
from scipy import stats
#(1.) Function for finding and filling outliers
def outlier_cleaning(df): 
    for i in df.columns:
        try:  
            df[i] = df[i].astype(float)
        except:
            pass
    #taking only the coloumns which have numerical values
    #df = df.dropna()
    cols = df._get_numeric_data().columns  
    ab = []
    for i in cols:
        if len(df[i].unique())>15:
            #storing in abc
            ab.append(i)
    df = df.dropna()
    #abc = pd.DataFrame(abc)
    #dropping any Null values contained in the Data_Frame
    #abc = abc.dropna()
    #finding Zscore  for the spread of data
    z_score = np.abs(stats.zscore(df[ab]))
    #including all the values which are less than 3 and filling some near mapped values
    df = df[(z_score < 3).all(axis=1)]
    return df

In [201]:
df = pd.read_csv('Loan_Approval.csv')

In [202]:
df1 = outlier_cleaning(df)

In [204]:
len(df1)

73601

In [189]:
cols = df._get_numeric_data().columns  

abc = []
for i in cols:
    if len(df[i].unique())>15:
            #storing in abc
        abc.append(i)

   a  b
0  1  1
1  2  2
2  3  3

In [173]:
ab = {'a':['1','2','3'],'b':[1,2,3,]}

In [175]:
ab = pd.DataFrame(ab)

In [187]:
ab['a']

0    1
1    2
2    3
Name: a, dtype: int32

In [185]:
try:
    for i in ab.columns:
        ab[i] = ab[i].astype(int64)
except:
    pass

In [166]:
df[abc].head()

,Unnamed: 0,Current Loan Amount,Annual Income,Monthly Debt,Years of Credit History,Number of Open Accounts,Current Credit Balance,Maximum Open Credit
0,0,445412.0,1167493.0,5214.74,17.2,6.0,228190.0,416746.0
1,1,262328.0,NaN,33295.98,21.1,35.0,229976.0,850784.0
2,2,99999999.0,2231892.0,29200.53,14.9,18.0,297996.0,750090.0
3,3,347666.0,806949.0,8741.90,12.0,9.0,256329.0,386958.0
4,4,176220.0,NaN,20639.70,6.1,15.0,253460.0,427174.0

In [158]:
abc.head()

Empty DataFrame
Columns: [Unnamed: 0, Current Loan Amount, Annual Income, Monthly Debt, Years of Credit History, Number of Open Accounts, Current Credit Balance, Maximum Open Credit]
Index: []

In [155]:
df = pd.read_csv('Loan_Approval.csv')

In [136]:
df = outlier_cleaning(df)

In [141]:
df.head()

,Unnamed: 0,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,0.0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,NaN,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,NaN,Short Term,NaN,10+ years,Home Mortgage,Debt Consolidation,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0
2,2.0,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,3.0,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,NaN,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,NaN,Short Term,NaN,5 years,Rent,Debt Consolidation,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0

In [142]:
df1.head()

,Unnamed: 0,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,6.0,1.0,228190.0,416746.0,1.0,0.0
1,1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,35.0,0.0,229976.0,850784.0,0.0,0.0
2,2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,18.0,1.0,297996.0,750090.0,0.0,0.0
3,3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,9.0,0.0,256329.0,386958.0,0.0,0.0
4,4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,15.0,0.0,253460.0,427174.0,0.0,0.0

In [133]:
len(df)

73601

In [112]:
len(df)

76965

In [106]:
import pandas as pd
from dateutil.parser import parse
#(2.) Date subtraction Function
def format_date(df):
    cols = df.columns
      #initializing a dataframe
    df1 = pd.DataFrame()
      #for loop to iterate the columns 
    for i in cols:
        try:
            #checking if the 1st value of series contains date format
            parse(df[i][0],False)
           #storing the date format series to df1 dataframe
            df1[i]=df[i]
            #changing the dtype of the series in df1 dataframe to datetime
            df1[i]= pd.to_datetime(df1[i])
            #except blocks to pass the iteration 
        except ValueError:
            pass
        except TypeError:
            pass
          #selecting columns by dtype excluding object type
    df1 = df1.select_dtypes(exclude=['object'])
          #storing the column names of df1
    cols = df1.columns    
    n = len(cols)
    list_1 = []
        #for loop to iterate the number of columns of df1 dataframe
    for i in range(n):
          # append the numbers to list_1
        list_1.append(i)
          # list comprehension for taking two column-number at a time (forming pairs)
        list_2 = [((i), (i + 1) % len(list_1))  for i in range(len(list_1))] 
          #for loop to perform subtraction on 2 columns once
    for i in range(len(list_2)):
          #taking the first values two columns and storing in x,y
        x,y = df1.iloc[0,i],df1.iloc[0,list_2[i][1]]
          # checking which variable value is larger and the performing subtraction
        if x.value>=y.value:
            df1[cols[i]+' - '+cols[list_2[i][1]]] = df1[cols[i]]-df1[cols[list_2[i][1]]]
        else:
            df1[cols[list_2[i][1]]+' - '+cols[i]] = df1[cols[list_2[i][1]]]-df1[cols[i]]
    return df1

In [ ]:
import pandas as pd
# (3.) Function to drop minimum columns having pearson's correlation 
def pearson_test(df):   
  ''' Finding Pearson's Correlation for the given dataset and dropping min variables'''
    pearson = df.corr() #initializing pearson corr for df
    cols = pearson.columns 
    for k in range(2): # a loop for verification so all that all conditions are met
        for i in range(len(cols)): 
            for j in range(i):
                if pearson.iloc[i,j]>0.85: #if correlation is >85
                                                                #the below condition is for selecting which column to be dropped
                    if sum(pearson.nlargest(3,cols[i])[cols[i]])>sum(pearson.nlargest(3,cols[j])[cols[j]]): # comparing the sum of three highest corr values of each column    
                        if cols[i] in df.columns:  
                            df.drop(columns=cols[i],inplace=True)                       # droping the column which has high corr values compared to corresponding, j column
                    elif sum(pearson.nlargest(3,cols[i])[cols[i]])<sum(pearson.nlargest(3,cols[j])[cols[j]]): 
                        if cols[j] in df.columns:
                            df.drop(columns=cols[j],inplace=True)                       
        pearson = df.corr()               #for verification iteration
        cols = pearson.columns            #for verification iteration
        # k loop is used for verification, incase of a DF where corr of both cols is high and due to above condition to select one column might skip corresponding column
    return df